<h2>Common Flight Details</h2>
<common-flight-details [flight]="flightDtlModel" [pageNameKey]="'Flight.'"></common-flight-details>
<span class="form-inline">
    <label>Flight Color: </label>
    <select class="form-control">
      <option *ngFor="let color of flightColors" [value]="color.key"
        [selected]="color.key === flightDtlModel.flightColor">
        {{'Color.' + color.value | translate}}
      </option>
    </select>
  </span>
  <div>Departure Date: {{departureDate | turboDate }}</div>
  <div>Arrival Date: {{arrivalDate | turboDate }}</div>
