<h1>Test Angular Webcomponent POC Project</h1>

<span class="form-inline">
  <select class="form-control" #selectedLang (change)="switchLang(selectedLang.value)">
    <option *ngFor="let language of translate.getLangs()" [value]="language"
      [selected]="language === translate.currentLang">
      {{ language }}
    </option>
  </select>
</span>
<button type="button" routerLink="">Home</button>
<button type="button" routerLink="/customer">Customer</button>
<button type="button" routerLink="/flight">Flight</button>

<router-outlet></router-outlet>